@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100vh;
  background-color: #736453;
  color-scheme: dark;
}

main {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
